{% if posts.has_other_pages %}
<div class="pagination">
    {% if posts.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <a href="?page={{ num }}" class="active">{{ num }}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endif %}